<mat-card id="welcome-section" color="primary">
  <h1>StockSync</h1>
  <h2>Sistema de gestión de inventario</h2>
  <a mat-raised-button color="primary">
    Comenzar
  </a>
</mat-card>

<div class="card-wrapper">
  <div class="row">
    <div class="column">
      <mat-card>
        <mat-card-header>
          <h1>Agrega ingredientes</h1>
        </mat-card-header>
        <mat-card-content>
          <h3>Agrega ingredientes</h3>
        </mat-card-content>
        <mat-card-actions>
          <a mat-raised-button color="primary">
            <span>Ingredientes!!</span>
            <mat-icon>visibility</mat-icon>
          </a>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="column">
      <mat-card>
        <mat-card-header>
          <h1>Agrega menús!!!</h1>
        </mat-card-header>
        <mat-card-content>
          <h3>Selecciona menús a partir de platos</h3>
        </mat-card-content>
        <mat-card-actions>
          <a mat-raised-button color="primary">
            <span>¡Vamos!</span>
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <mat-card>
        <mat-card-header>
          <h1>Agrega platos!!!</h1>
        </mat-card-header>
        <mat-card-content>
          <h3>Nuevos platos uwu</h3>
        </mat-card-content>
        <mat-card-actions>
          <a mat-raised-button color="primary">
            <span>Boom</span>
            <mat-icon>visibility</mat-icon>
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="column">
      <mat-card>
        <mat-card-header>
          <h1>Bof</h1>
        </mat-card-header>
        <mat-card-content>
          <h3>Juan Manu el Preciso</h3>
        </mat-card-content>
        <mat-card-actions>
          <a mat-raised-button color="primary">
            <span>^-^</span>
            <mat-icon>edit</mat-icon>
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>