<footer
  [ngClass]="{
    'header-and-footer-dark-mode-background-color': isDarkThemeActive,
    'footer-light-mode-background-color': !isDarkThemeActive
  }"
>
  <a mat-raised-button color="primary" href="">Privacy</a>
  <a mat-raised-button color="primary" href="">RGPD</a>
  <a mat-raised-button color="primary" href="">Cookies</a>
  <a mat-raised-button color="primary" href="">Legal</a>
  <a mat-raised-button color="primary" href="">Contact</a>
  <a mat-raised-button color="primary" href="">Accesibility</a>
  <a mat-raised-button color="primary" href="">CSS</a>
</footer>
