<footer
  [ngClass]="{
  'header-and-footer-dark-mode-background-color': isDarkThemeActive,
  'header-and-footer-light-mode-background-color': !isDarkThemeActive}">
  <a mat-raised-button color="primary" href="">Política de privacidad</a>
  <a mat-raised-button color="primary" href="">Registro LOPD</a>
  <a mat-raised-button color="primary" href="">Política de Cookies</a>
  <a mat-raised-button color="primary" href="">Aviso Legal</a>
  <a mat-raised-button color="primary" href="">Contacto</a>
  <a mat-raised-button color="primary" href="">Quejas, Reclamaciones y Sugerencias</a>
  <a mat-raised-button color="primary" href="">Canal Ético</a>
  <a mat-raised-button color="primary" href="">Accesibilidad</a>
</footer>
