<mat-tab-group>
  <!--Dish table tab-->
  <mat-tab label="Dish Table">
    <app-dish-table (selectedDishEmitter)="updateSelectedDish($event)"></app-dish-table>
  </mat-tab>

  <!--Dish Info tab-->
  <mat-tab label="Detailed Dish Information">
    <app-dish-details [selectedDish]="selectedDish"></app-dish-details>
  </mat-tab>

  <!--Dish edition tab-->
  <mat-tab label="Modify Dish">
    <app-dish-modification [selectedDish]="selectedDish"
      (selectedDishEmitter)="updateSelectedDish($event)"></app-dish-modification>
    <button class="add-dish-button" mat-raised-button color="accent" (click)="updateDish()"
      [disabled]="selectedDish.name == '' || selectedDish.ingredients.length <= 0">
      Update Dish
    </button>
  </mat-tab>
</mat-tab-group>