#dishIngredient-table-component-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 3em 2em;
}

#table-wrapper {
  width: 95%;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 1.2em;
  width: 90%;
}

td,
th {
  width: 23%;
}