<div id="provider-table-component-wrapper">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="E.g. Pepe" #input>
  </mat-form-field>

  <div class="mat-elevation-z8" id="table-wrapper">
    <mat-radio-group [(ngModel)]="selectedProvider">
      <table mat-table [dataSource]="dataSource" [hidden]="!dataSource.data" matSort>

        <!-- Selected Column -->
        <ng-container matColumnDef="selected">
          <th mat-header-cell *matHeaderCellDef>
            Selected Provider:<br /><b>{{ selectedProvider.name }}</b>
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-radio-button [value]="element" (click)="emitProvider(element)"></mat-radio-button>
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let row"> {{ row.name }} </td>
        </ng-container>

        <!-- Address Column -->
        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
          <td mat-cell *matCellDef="let row"> {{row.contactInfo.address}} </td>
        </ng-container>

        <!-- Phone Number Column -->
        <ng-container matColumnDef="phoneNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number </th>
          <td mat-cell *matCellDef="let row"> {{row.contactInfo.phoneNumber}} </td>
        </ng-container>

        <!-- Delete Column -->
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef> Delete Provider </th>
          <td mat-cell *matCellDef="let element">
            <button mat-mini-fab color="warn" [value]="element" (click)="openDeletionDialog(element.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">Not found: "{{input.value}}"</td>
        </tr>
      </table>
    </mat-radio-group>

    <mat-divider></mat-divider>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of providers"></mat-paginator>
  </div>
</div>