<mat-card>
  <mat-card-header>
    <mat-card-title>
      Current menu dishes
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="card-content-list">
    <div *ngFor="let dish of selectedMenu.dishes" style="width: 100%;">
      <mat-divider style="margin-top: 1em; margin-bottom: 1em;"></mat-divider>
      <div class="name-delete-pair">
        <h3>{{dish.name}}</h3>
        <button mat-mini-fab color="warn" [value]="dish" (click)="emitDishForDeletion(dish)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>