@use '@angular/material' as mat;
@include mat.core();

// Dark theme definition
$dark-theme: mat.define-dark-theme(
  (
  color: (
    primary: mat.define-palette(mat.$indigo-palette),
    accent: mat.define-palette(mat.$orange-palette),
    ),
      // Only include `typography` and `density` in the default dark theme.
      typography: mat.define-typography-config(),
      density: 0,
));

// Light theme definition
$light-theme: mat.define-light-theme((
  color: (
    primary: mat.define-palette(mat.$green-palette, 300),
    accent: mat.define-palette(mat.$orange-palette),
    ),
));

// Apply the dark theme by default
@include mat.all-component-themes($dark-theme);

.light-mode {
  @include mat.all-component-colors($light-theme)
}

.header-and-footer-light-mode-background-color {
  //https://m2.material.io/design/color/the-color-system.html#tools-for-picking-colors
  // Purple 800
  background-color: #1B5E20
}

.header-and-footer-dark-mode-background-color {
  background-color: #1A237E
}