<mat-card id="auxItem-information-card">
  <mat-card-header>
    <mat-card-title>
      Information about: {{selectedAuxItem.name}}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <span matListItemTitle>Name</span>
        <span matListItemLine>{{selectedAuxItem.name}}</span>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>Quantity</span>
        <span matListItemLine>{{selectedAuxItem.quantity}}</span>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>Minimum Threshold</span>
        <span matListItemLine>{{selectedAuxItem.minThreshold}}</span>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>Maximum Threshold</span>
        <span matListItemLine>{{selectedAuxItem.maxThreshold}}</span>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>