<mat-card id="register-banner" color="primary" [class.mat-elevation-z8]="true">
  <mat-card-header>
    <mat-card-title>
      Inicio de sesión
    </mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <a mat-raised-button color="accent" routerLink="/register">
      <span>¿No tienes una cuenta? Regístrate</span>
      <mat-icon>person_add</mat-icon>
    </a>
  </mat-card-actions>
</mat-card>

<form [formGroup]="userForm" (ngSubmit)="login()">
  <mat-card class="user-form-card">
    <mat-card-header>
      <mat-card-title>
        Información de usuario
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="user-form-content">
      <!-- email -->
      <mat-form-field>
        <input matInput placeholder="Correo electrónico" formControlName="email">
        <mat-error *ngIf="userForm.controls['email'].hasError('required')">
          El correo electrónico es <strong>obligatorio</strong>
        </mat-error>
        <mat-error *ngIf="userForm.controls['email'].hasError('email')">
          Introduzca un correo electrónico correcto
        </mat-error>
      </mat-form-field>
      <!-- password -->
      <mat-form-field>
        <input matInput type="password" placeholder="Contraseña" formControlName="password">
        <mat-error *ngIf="userForm.controls['password'].hasError('required')">
          La contraseña es <strong>obligatoria</strong>
        </mat-error>
        <mat-error *ngIf="userForm.controls['password'].hasError('minlength')">
          La contraseña debe tener más de 6 caracteres
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions id="submit-card-actions">
      <button mat-raised-button color="accent" type="submit" [disabled]="!userForm.valid">Iniciar sesión</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="error-form-card" *ngIf="invalidAnswerFromBackend">
    <mat-card-header>
      <mat-card-title>
        Se han encontrado los siguientes errores:
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      1 - Correo o contraseña erróneos
    </mat-card-content>
  </mat-card>
</form>