.dish-ingredients {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1em;
}

.dish-ingredient-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.dish-details-component {
  display: flex;
  flex-direction: column;
  gap: 15;
  padding-left: 0.3em;
  padding-bottom: 0.3em;
}
