<mat-card id="dish-information-card">
  <mat-card-content>
    <div class="dish-details-component">
      <div style="gap: 10px">
        <h3>Name</h3>
        <p>{{ selectedDish.name }}</p>
      </div>
      <div style="gap: 10px">
        <h3>Ingredients</h3>
        <div class="dish-ingredients">
          <div
            class="dish-ingredient-container"
            *ngFor="let ingredient of selectedDish.ingredients; let last = last"
          >
            <b>{{ ingredient.ingredient.name }}</b>
            <p>Amount: {{ ingredient.amount }}</p>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
