<mat-tab-group>
  <!--Menu table tab-->
  <mat-tab label="Menu Table">
    <app-menu-table
      (selectedMenuEmitter)="updateSelectedMenu($event)"
    ></app-menu-table>
  </mat-tab>

  <!--Menu Info tab-->
  <mat-tab label="Detailed Menu Information">
    <app-menu-details [selectedMenu]="selectedMenu"></app-menu-details>
  </mat-tab>

  <!--Menu edition tab-->
  <mat-tab label="Modify Menu">
    <app-menu-modification
      [selectedMenu]="selectedMenu"
      (selectedMenuEmitter)="updateSelectedMenu($event)"
    ></app-menu-modification>
    <div style="display: flex; justify-content: center; margin-bottom: 2em">
      <button
        class="update-menu-button"
        mat-raised-button
        color="accent"
        (click)="updateMenu()"
        [disabled]="selectedMenu.name == '' || selectedMenu.dishes.length <= 0"
      >
        Update Menu
      </button>
    </div>
  </mat-tab>
</mat-tab-group>
