<header class="header-container">
  <nav
    class="header-navbar"
    [ngClass]="{
      'header-and-footer-dark-mode-background-color': isDarkThemeActive,
      'header-light-mode-background-color': !isDarkThemeActive
    }"
  >
    <a routerLink="/">
      <img
        class="header-logo"
        src="../../../../assets/logo/main_logo.png"
        alt="logo"
      />
    </a>
    <div id="header-button-container" class="header-hide-small">
      <app-theme-picker></app-theme-picker>
      <a
        mat-raised-button
        color="accent"
        routerLink="/login"
        *ngIf="!loggedInCondition"
      >
        <mat-icon>login</mat-icon>
        Iniciar sesión
      </a>
      <a
        mat-raised-button
        color="accent"
        routerLink="/register"
        *ngIf="!loggedInCondition"
      >
        <mat-icon>person_add</mat-icon>
        Registrarse
      </a>
      <a mat-stroked-button color="accent" *ngIf="loggedInCondition">
        {{ currentUserName }}
      </a>
      <button
        mat-raised-button
        color="accent"
        (click)="logOut()"
        *ngIf="loggedInCondition"
      >
        <mat-icon>logout</mat-icon>
        Cerrar sesión
      </button>
    </div>
    <app-theme-picker class="header-show-small"></app-theme-picker>
  </nav>
  <nav class="header-small-navbar" [class.mat-elevation-z8]="true">
    <a
      mat-raised-button
      color="accent"
      routerLink="/login"
      *ngIf="!loggedInCondition"
    >
      <mat-icon>login</mat-icon>
      Iniciar sesión
    </a>
    <a
      mat-raised-button
      color="accent"
      routerLink="/register"
      *ngIf="!loggedInCondition"
    >
      <mat-icon>person_add</mat-icon>
      Registrarse
    </a>
    <a mat-stroked-button color="accent" *ngIf="loggedInCondition">
      {{ currentUserName }}
    </a>
    <button
      mat-raised-button
      color="accent"
      (click)="logOut()"
      *ngIf="loggedInCondition"
    >
      <mat-icon>logout</mat-icon>
      Cerrar sesión
    </button>
  </nav>
</header>
